.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.fields h1 {
    border: 4px solid #f2ae61;
    border-radius: 8px;
    padding: 14px 40px;
    margin-top: 60px;
    background: #fff;
    color: #174593;
}

.fields .subheading {
    margin-top: 2px;
}

.fields label {
    margin-bottom: 6px;
    margin-right: 10px;
    font-size: 1.25rem;
}

.my-button.calc {
    font-size: 20px;
}

body {
    background-color: #ecf2ff;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

.my-button {
    background-color: #6690e4;
    color: white;
    padding: 5px 15px;
    font-size: 1.15rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    font-family: inherit;
}

.my-button:hover {
    background-color: #3b7edc;
}

.my-button.active {
    background-color: #285dba;
}

.large {
    font-size: 23px;
    font-weight: 600;
}

.fields label.large,
.fields .large label,
.fields .large #prediction {
    font-size: 23px;
    font-weight: 600;
}

.space {
    margin-top: 10px;
}

.info {
    margin-top: 30px;
    color: #797979;
    text-align: center;
    max-width: 750px;
}